title{
    color: #4CAF50;
}
body{
  background-color:aquamarine;
}
h1 {
  color:black;
  text-align: center;
}
h2 {
  color:blueviolet;
}
h3 {
  color:black;
  text-align:left;
  font-size: 30px;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  width: 10%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: blue; 
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border-style:solid;
  height:350px;
  width:600px;
  color:blueviolet
}