* {
  margin: 0;
  padding: 0;
}
title {
  color: #4caf50;
}
body {
  background-color: #475763;
}
h1 {
  color: black;
  text-align: center;
}

h2 {
  color: blueviolet;
}

h3 {
  color: black;
  text-align: left;
  font-size: 30px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 25px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  margin: 4px 2px;
  cursor: pointer;
  table-layout: fixed;
  border-collapse: collapse;
  width: 17%;
  font-weight: bold;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.centered {
  position: relative;
  border: 17px solid #000;
  border-radius: 15px;
  height: 350px;
  width: 600px;
  color: blueviolet;
  margin: 0 auto;
  top: -140px;
}

.form {
  position: relative;
  top: 15vh;
}

.button1,
.button4 {
  margin-left: 50px;
}

.button2,
.button3 {
  float: right;
  margin-right: 50px;
  background-color: blue;
}

.button4 {
  background-color: red;
}

.button {
  border-radius: 20px;
  border: 1.5px solid #000;
}

.groupButton {
  margin-bottom: 50px;
}

.h1 {
  position: absolute;
  left: 340px;
  top: 87px;
}

.defined {
  position: relative;
  top: -130px;
  left: 340px;
}

.heading {
  margin: 10px 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 170px;
}
